.about--text {
  text-align: center;
}
.p-aboutme {
  text-align: center;
}
.exp {
  background-color: var(--right-about-clr2);
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}
.exp > h2,
.exp > P {
  text-align: center;
}
.about--image {
  /* margin-top: 40px; */
  position: sticky;
  flex: 40%;
  display: grid;

  height: 100vh;
  /* overflow-y: auto; */
  background-color: var(--left-about-clr);
  bottom: 0.5rem;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.right-side {
  /* width: 40%; */
  /* padding: 0px 3rem; */
  /* overflow-y: scroll; */
  flex: 60%;
  margin: 0px 5px;
  /* padding: 10px; */
  /* background-color: rgb(241, 255, 245); */
  /* border: 1px solid rgb(231, 231, 231); */
  border-radius: 10px;
}

.card--aboutme-div {
  background-color: var(--right-about-clr1);
  /* height: 60vh; */
  padding: 60px;
  border-radius: 10px;
}
.about--card {
  transition: 0.3s;
}

.about--card:hover {
  transform: scale(1.02);
  /* background: #ff800a; */
  z-index: 2;
  /* box-shadow: 2px 2px 2px #000;    */
}

.card--header {
  background-color: var(--card-aboutme-header);
}
.about--body {
  padding: 25px 10px;
  height: auto;
  background-color: var(--card-bg-clr);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
img {
  height: 14rem;
  width: auto;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.aboutme {
  display: flex;
  flex-direction: row;
  /* height: 80vh; */
  justify-content: space-between;
  /* padding: 110px 120px; */
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0.2rem;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}

.exp {
  margin-top: 5px;
  padding-top: 30px;
}

@media screen and (max-width: 768px) {
  .card--aboutme-div {
    padding: 5px;
  }
  .aboutme {
    flex-direction: column;
  }
  .about--image {
    position: static;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    padding: 20px 0px;
  }
  .right-side {
    width: 98%;
    margin: 0px;
    padding: 0px;
  }

  .aboutme {
    padding: 30px 10px;
  }
}
