.container{
    
    width: 35vw;
    margin: 50px auto;
    background-color: #FFD6BA;
    -webkit-box-shadow: -5px 5px 0px 1px rgba(0, 0, 0, 0.250); 
box-shadow: -5px 5px 0px 3px rgba(0, 0, 0, 0.250);
border-radius: 10px;
    

}


h1{
    text-align: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    
    
}


.name{
    margin: 25px auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 90%;
    height: 40px;
} 
input[type="text"]{
    width: 76%;
    /* margin: 0 20px 0 0; */
    padding: 20px;
    font-style: italic;    
    border: 2px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: #FFD6BA;
}

label[for="fullName"]{
    position: absolute;
    top: -30px;
    left: 0;
    padding-left: 10px;
}
.fullName{
    margin-left: 10px;
}
    

.email{
    width: 70%;
    margin: 0 0 20px 35px;
    /* height: 20px; */
    padding: 15px;
    /* margin: 15px; */
    font-style: italic;
    border: 2px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: #FFD6BA;

}



label:not(#nameLabel){
    margin-left: 35px ;
    margin-bottom: 10px;
}

.message{
    width: 70%;
    margin: 0 35px;
    height: 60px;
    padding: 15px;
    font-style: italic;
    border: 2px solid #434753;
    background: transparent;
    color: #434753;
    outline-color: #FFD6BA;
}

.send{
    width: 100px;
    margin: 30px 35px;
    height: 40px;
    border: none;
    background: #434753;
    color: #FFD6BA;
    cursor: pointer;
}