.contact-me-component {
  text-align: center;
}
.Social-contact-me-component {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.Social-contact-me-component > div {
  background-color: #f1f1f1;
  width: 45px;
  height: 45px;
  margin: 10px;
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  border-radius: 50px;
}
.Social-contact-me-component :link {
  color: #fff;
}

.leetcode :link {
  background-color: #cddbe9;
  border-radius: 50px;
  padding: 5px 8px;
  text-decoration: none;
  align-items: center;
}

.leetcode :link:hover {
  background-color: rgb(224, 134, 134);
  color: white;
}

a {
  color: black;
}

.last-page-msg > p {
  text-align: center;
  font-size: small;
}
