.experience--tab {
  padding: 10px;
  justify-content: center;
  text-align: center;
  left: 10%;
  right: 10%;
  padding-top: 30px;
  padding-bottom: 50px;
  /* height: 90vh; */
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 30px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  /* right: 10%; */
  justify-content: center;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
  align-items: center;
  justify-content: center;
  /* padding-bottom: 20px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 90%;
    /* display: block; */
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: var(--card-bg-clr);
  border-radius: 40px;
}

.card > div {
  font-size: 60px;
  color: brown;
}
