.footer {
  width: 100%;
  /* padding: 6rem 0;     */
  background-color: var(--footer-clr);
}

.footer--container {
  /* max-width: 1140px; */
  /* margin: auto; */
  /* width: 90%; */
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.left {
  padding-top: 50px;
}
.right {
  padding-top: 50px;
}
.sitemap {
  display: flex;
  flex-direction: column;
  /* margin-left: 40px; */
  margin: 30px;
  /* padding-left: 40px; */
}

.sitemap a {
  text-decoration: none;
  /* color: var(--text-clr); */
  color: gray;
}

@media screen and (max-width: 600px) {
  .footer--container {
    flex-direction: column;
    padding: 20px;
  }
  .footer {
    padding-bottom: 80px;
  }
}
