.hero--main {
  text-align: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: var(--main-page-hero);
}

.hero {
  justify-content: space-around;
  /* padding: 50px; */
  padding-top: 90px;
}

.hero-1st-pic {
  color: var(--text-clr);
}

@media screen and (max-width: 768px) {
  /* .hero--main {
    height: 80vh;
  } */
}
