.myproject--component {
  text-align: center;
}

.myproject--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.myproject--card {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: black;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.project--image {
  border-radius: 10px;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.myproject--buttons {
  display: flex;
  justify-content: center;
}

.myproject--button {
  padding: 6px;
  margin: 10px;
}

/* Media query for screens with a minimum width of 769px (desktop) */
@media screen and (min-width: 769px) {
  .myproject--card {
    cursor: pointer;
  }

  .tilt-card:hover {
    /* transform: scale(1.05) rotate(3deg); */
    margin: 15px; /* Add margin on hover to prevent overlapping */
  }
}
