.Mytool--Section {
  padding-bottom: 30px;
}

.mytool--Skill {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding-bottom: 20px;
}

.mytool--Skill > div {
  background-color: var(--card-bg-clr);
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  transition: 0.2s;
}

.mytool--Skill > div:hover {
  transform: scale(1.3);
  z-index: 2;
  box-shadow: 2px 2px 2px #000;
}

/* .mytool-div :hover{
    transform: scale(1.5);
 
    z-index: 2;
    box-shadow: 2px 2px 2px #000;   
} */
