.theme-css {
  /* float: right; */
  position: fixed;
  /* left: 0%; */
  /* right: 2%; */
  /* top: 0.5rem; */
  top: 10px;
  right: 8px;
  z-index: 3;
  overflow: hidden;
}
.theme-css > .resume-download {
  font-size: large;
  font: bold;
  padding: 0px 10px;
  color: var(--text-clr);
}
.switch-theme-button {
  background-color: transparent;
  border: none;
  font-size: medium;
}
