.hero--main {
  text-align: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  /* background-color: var(--main-page-hero); */
  /* color: transparent; */
}
h1 {
  text-align: center;
}
.hero {
  justify-content: space-around;
  /* padding: 50px; */
  padding-top: 90px;
}

.hero-1st-pic {
  color: var(--text-clr);
}
.my--name {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero--main {
    background-color: var(--main-page-hero);
    /* height: 80vh; */
  }

  .my--name {
    display: block;
  }
}
