/* Experience.css */

.experience-section {
  padding: 50px;
}

.experience-heading {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin-bottom: 20px;
  padding-left: 40px;
  text-align: center;
}

.experience-heading h2 {
  text-align: center;
  font-size: 2rem;
}

.experience {
  display: flex;
  width: 60%;
  flex-direction: row;
  margin-top: 20px;
  background: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  transition: transform 0.3s ease;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 auto; /* Center horizontally */
  height: 50vh;
}

.experience-list {
  flex: 30%;
  max-width: 200px; /* Example width; adjust as needed */
  padding: 20px;
  border-right: 1px solid var(--border-color);
}

.experience-item {
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 10px;
}

.experience-item:hover,
.experience-item.active {
  background-color: var(--header-bg-color);
  border-left: 3px solid red;
}

.experience-details {
  flex: 70%;
  width: 100%; /* Adjusted width */
  padding: 20px;
  background: var(--body-bg-color);
  text-align: left; /* Align text to left */
}

.experience-details h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.experience-details .company-name {
  color: red; /* Define your highlight color */
  font-size: inherit;
}

.experience-details p {
  margin: 10px 0; /* Adjusted margin */
  line-height: 1.6;
}

.experience-details ul {
  padding-left: 20px; /* Indent list items */
}

/* Adjustments for tablet screens */
@media screen and (max-width: 1024px) {
  .experience {
    width: 80%;
  }
}

/* Adjustments for mobile screens */
@media screen and (max-width: 768px) {
  .experience-section {
    padding: 10px;
  }
  .experience {
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Full width */
    height: auto; /* Adjust height */
  }

  .experience-list {
    flex: 100%;
    max-width: 100%; /* Full width */
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    padding: 10px; /* Reduce padding */
    display: flex;
    flex-direction: row;
  }

  .experience-details {
    flex: 100%;
    width: 100%; /* Full width */
    padding: 10px; /* Reduce padding */
  }
}
