body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --nav-bg-clr: rgb(57, 57, 57);
  --main-page-hero: #171937;
  --p-clr: white;
  --text-clr: white;
  --btn-clr: white;
  --body-bg-clr: black;
  --card-bg-clr: #555555;
  --card-aboutme-header: rgb(77, 66, 66);
  --footer-clr: rgb(32, 32, 32);
}
.light-theme {
  --nav-bg-clr: snow;
  --main-page-hero: #f2a285;
  --p-clr: black;
  --text-clr: black;
  --btn-clr: black;
  --body-bg-clr: white;
  --card-bg-clr: #f1f1f1;
  --card-aboutme-header: rgb(195, 182, 182);
  --footer-clr: snow;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body {
  background-color: var(--body-bg-clr);
  color: var(--text-clr);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
  /* background-color: black; */
}

.particle {
  position: absolute;
  height: 100%;
  /* background-repeat:no-repeat; */

  background-size: cover;

  background-position: center;
}
