@import url("https://fonts.googleapis.com/css2?family=Handjet&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* scrollbar-color: var(--scroll-color); */
}

body[data-theme="dark"] {
  --cursor-color: #fff;
  /* --nav-bg-clr: #1f1b24; */
  --nav-bg-clr: #0f3259;
  /* --main-page-hero: #171937; */
  --p-clr: white;
  --text-clr: #ffffff;
  --btn-clr: white;
  /* --body-bg-clr: #121212; */
  --body-bg-clr: #181818;
  /* --body-bg-img: linear-gradient(
    to bottom,
    #404040,
    #353535,
    #2b2b2b,
    #212121,
    #181818
  ); */
  /* --card-bg-clr: #555555; */
  --card-bg-clr: #131a26;
  --card-aboutme-header: rgb(77, 66, 66);
  --footer-clr: rgb(32, 32, 32);
  --card-bg-clr-project: #131a26;
  --left-about-clr: #131a26;
  --right-about-clr1: #131a26;
  --right-about-clr2: #131a26;
}

body[data-theme="light"] {
  --cursor-color: #333;
  --nav-bg-clr: snow;
  --main-page-hero: #f2a285;
  --p-clr: black;
  --text-clr: black;
  --btn-clr: black;
  --body-bg-clr: white;
  --card-bg-clr: #f1f1f1;
  --card-aboutme-header: rgb(195, 182, 182);
  --footer-clr: snow;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --card-bg-clr-project: rgb(174, 210, 174);
  --card-bg-clr--skill: rgb(247, 228, 221);
  --left-about-clr: #f2fbf7;
  --right-about-clr1: #fbf2f9;
  --right-about-clr2: rgb(219, 245, 255);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4577ce;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #224d96;
}

body {
  background-color: var(--body-bg-clr);
  background-image: var(--body-bg-img);
  color: var(--text-clr);
}
button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
  /* background-color: black; */
}

.particle {
  position: absolute;
  height: 100%;
  /* background-repeat:no-repeat; */

  background-size: cover;

  background-position: center;
}
